project_id         = "hpc-toolkit-demo"

# network_name       = "default"
# subnetwork_name    = "default"
# subnetwork_project = "<project_id>"
region             = "us-central1"
zone               = "us-central1-f"

# labels = {
#   example = "simple_daos_server_example"
# }

# number_of_instances = 4
# daos_disk_count     = 16
# daos_crt_timeout    = 300
# daos_scm_size       = 200

# instance_base_name = "daos-server"
# os_disk_size_gb    = 20
# os_disk_type       = "pd-ssd"
# template_name      = "daos-server"
# mig_name           = "daos-server"
# machine_type       = "n2-custom-36-262144"

# the image must be built before (see build folder)
# os_project = "<project_id>"
# os_family  = "daos-server-centos-7"

 pools = [
  {
    pool_name = "test_pool"
    pool_size = "1TB"
    containers = [ "test_container1", "test_container2" ]
  }
]

